body {
    background-color: black;
    background-image: url(Images/fond-ecrain1.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}

.contenu {
    text-align: center;
}

.texte-inutile {
    font-family:Verdana, Geneva, sans-serif;
    font-style: italic;
    font-size: 1em;
    background-color: white;
    position: absolute;
    left: 50%;
    margin-top: 60px;
}

.footer {
    text-align: center;
    color: red;
    background-color: grey;
    width: 1024px;
    margin: auto;
    padding: 1.5em 0px;
}

.nb_visite {
    font-weight: bold;
}

.visite{
    margin: 0px;
}

.ul_sous_menu {
    display: none;
    list-style-type: none;
    margin: 0px 0px;
    padding: 0px 12px 0px 1px;
    width: 15.9em;
    background-color: blue;
}

.navbar {
    padding-top: 111px;
    width: 1024px;
    margin: auto;
}

.ul-menu {
    list-style-type: none;
    display: flex;
    background-color: blue;
    margin: 0px;
    padding: 0px;
    width: 1024px;
    position: relative;
    z-index: 10;
}

.menu a {    
    background-color: black;
    margin: 1px;
    padding: 5px 10px 5px 10px;
    font-family: Verdana, Geneva, Arial, sans-serif;
    display: block;
    text-align: center;
}

a {
    color: white;
  }


.menu a:hover {
    background-color: dodgerblue;
}

.menu:hover .ul_sous_menu {
    display: block;
    position: absolute;
    z-index: 100;
}

.li_sous_menu {
    background-color: black;
    margin: 3px 1px;
    padding: 4px;
    font-family: Verdana, Geneva, Arial, sans-serif;
    width: 100%;
}
.li_sous_menu:hover {
    background-color: dodgerblue;
}

#img-tiger {
    margin-top: -31px;
}

#img-m4a1 {
    width: 200px;
    height: 150px;
}
